# === Visual Studio ===
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# === Build result ===
Debug/
Release/
x64/
x86/
build/
out/

# === Object files ===
*.obj
*.ilk
*.pdb
*.idb
*.tlog

# === Executable ===
*.exe

# === DxLib generated ===
DxLibMake.log
DxLib.dll
DxLib_x64.dll

# === Cache / temp ===
*.log
*.tmp

# === OS ===
Thumbs.db
.DS_Store

# ===mp3, jpg===
*.mp3
*.txt
*.png